<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>metafocus</title>
    
  </head>
  <body>
    <link rel="stylesheet" href="app/css/app.css">
    <link rel="stylesheet" href="app/css/controls.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/services/promiseService.js"></script>
    <script src="app/js/controllers/metafocusController.js"></script>
    <script src="app/js/directives.js"></script>
    <!--<script>require('electron-connect').client.create()</script>-->

    <div ng-app="metafocus" ng-controller="metafocusController" class="defaultAlign">
      <div class="textCenter">
        <h1>{{appTitle}}</h1>
        <div class="fileUpload btn btn-primary">
          <span>Select PDF to read</span>
          <input id="fileSelector" name="fileSelector" type="file" onchange="angular.element(this).scope().handleFile(files)" class="upload">
        </div>
        <div class="fileUpload textCenter" ng-class="{'showBorder' : fileSelected}">{{fileName}}</div>
        <div class="fileUpload textCenter">
          <button ng-click="loadText()" class="btn btn-primary">Load!</button>
        </div>
        <div class="fileUpload textCenter">
          <button ng-click="startReading()" class="btn btn-primary">Read!</button>
        </div>
        <div id="focusBox">{{metafocusText}}</div>
        <div ng-repeat="item in metafocusArray | filter:emptyStringFilter"><span>{{item.textValue}}</span></div>
      </div>

      <footer class="hide">
        node: <script>document.write(process.versions.node)</script>,<br/>
        Chromium: <script>document.write(process.versions.chrome)</script>,<br/>
        V8: <script>document.write(process.versions.v8)</script>, <br/>
        Electron: <script>document.write(process.versions.electron)</script>.
      </footer>

      <!-- <h2>package.json</h2>
      <script type="text/javascript">
        var fs = require('fs');
        var file = fs.readFileSync('package.json');
        document.write(file);
      </script> -->
    </div>
  </body>
</html>   
