.metafocus{
  font-family: 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-align: left;
  white-space: nowrap;
  height: 70px;
  padding-left: 50px;
}

.defaultAlign{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.roomy{
  margin-top: 20px;
  padding-top: 20px;
}
.textCenter{
  text-align: center;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  text-align: center;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.showBorder{
  border-color: #0f0f0f;
  border-style: solid;
  border-width: thin;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: orange;
}

.hide {
	display: none;
}

.file-upload {
	margin: 20px 20px 20px 20px ;
}
.wpm {
  padding-top: 10px;
  padding-bottom: 10px;
}